/* ===========================
  Global
=========================== */
*{
   margin:0;
   padding:0;
   box-sizing:border-box;
}
html{
   scroll-behavior:smooth;
}
body{
   font-family:"Noto Serif TC", serif;
   background:#ffffff;
   color:#222;
}
/* ===========================
  Section
=========================== */
section{
   min-height:100vh;
}